.container-fluid{
    background: url(https://docentes.ufps.edu.co/assets/img/bg/bg1.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
  .row{
   margin-top: 10%;
  }
  
  p{
      font-family: "Homer Simpson", cursive;
   font-size:30px;
   text-shadow: 1px 2px #000;
     color: brown;
   
  }
  label{
      font-family: "Homer Simpson", cursive;
      font-size:15px;
  }
  
  button{
      
      text-shadow: 1px 1px rgb(245, 247, 246);
      font-family: 'Times New Roman', Times, serif
  }
  
  #col-Login{
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
  /* btn-primary{
      color: black;
  } */
  
  .container{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcaZuunZnI1eDzd_iFSEcGDwB0cYEsKQcAC2VUnbh-WTlraMRJYw');
    background-repeat: no-repeat;
    background-size: cover;
}
h4{
    color: brown;
    font-size: 24px;

  }
  label{
      font-size: 15px;
  }
 